.Counter {
  margin: 50px;
  padding: 50px;
  width: max-content;
  border: 1px solid;

  &__title {
    margin-bottom: 50px;
    margin-left: 200px;
  }

  &__button {
    font-size: 20px;
    margin-right: 30px;
    background-color: #fff;
    outline: none;
    width: 150px;
    border: 2px solid green;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: rgb(169, 202, 125);
    }
  }
}
