.counter {
  border: 2px solid #000;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 30px;
  background-color: #f7c282;
  transition: 0.5s;

  &:hover {
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &__title {
    font-weight: bold;
  }
  
  &__buttons {
    display: flex;
    margin-top: 10px;
    gap: 30px;
  }
}
