.button {
  border: none;
  background-color: rgb(163, 163, 163);
  padding: 10px;
  margin-left: 10px;
  border-radius: 20px;
  color: white;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: rgb(138, 138, 138);
  }
}
