.wrapper {
  text-align: center;
  margin-top: 250px;
}

html {
  background: lightblue;
}

.counter {
  padding-top: 25px;
  height: 50px;
  color: darkslateblue;
  font-weight: bold;
}

.btn {
  background-color: cadetblue;
  height: 50px;
  width: 50px;
  border-radius: 20px;
  outline: none;
  transition: 0.5s;
  border: 1px solid blue;
}
