@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__btn {
    width: 200px;
    padding: 10px 5px;
    margin-left: 20px;

    border: 2px solid black;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

    color: #4d2929;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;

    transition: box-shadow 1s;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    }
  }
}
