.counter {
  max-width: max-content;
  margin: 0 auto;
  margin-top: 10%;

  &__title {
    text-align: center;
    font-size: 3em;
  }

  &__btns {
    display: flex;
    gap: 20px;
  }

  &__btn {
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgb(170, 129, 129);
    background-color: rgb(170, 129, 129);
    color: #fff;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(170, 129, 129);
      z-index: -1;
      transition: all 0.3s;
    }

    &:hover::before {
      transform: scale(1.4);
      opacity: 0;
    }

    &:hover {
      color: rgb(170, 129, 129);
      background-color: #fff;
    }
  }
}
