.controler {
  display: flex;
  gap: 20px;

  &__button {
    width: 100px;
    padding: 20px 0;

    position: relative;
  outline: none;
  background: #292929;

  border: none;
  color: #fff;
  transition: transform 0.2s;

  &:hover::before {
    transform: scale(1.2);
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &::after {
    background: #292929;
  }

  &::before {
    background-image: linear-gradient(135deg, #aeffb9 0%, #a091ff 100%);
    transition: transform 0.3s;
  }
  }
}
