// styles go here
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

.counter {
  padding: 3em;
  background-color: lightcyan;
  // border: 1px solid black;
  border-radius: 1.5em;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  &__title {
    text-align: center;
    margin-bottom: 0.5em;
  }

  &__form {
    display: flex;
    gap: 1em;
  }

  &__button {
    font-family: inherit;
    padding: 0.5em;
    border-radius: 1em;
  }
}
