.App {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
  border-radius: 30px 30px 0 0;

  &__title {
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}

.button {
  width: 100px;
  height: 50px;
  border-radius: 0;
  background-color: rgb(224, 202, 176);
  transition: all 0.5s;
  border: 1px solid;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: antiquewhite;
  }
}
