html {
  background-color: black;
}
.App {
  position: absolute;
  top: 25%;
  left: 38%;
  margin-top: 200px;
  padding-top: 50px;
  width: 330px;
  height: 250px;
  margin: auto;
  background-color: yellowgreen;
  border-radius: 20px;

  &__title {
    text-align: center;
    margin-bottom: 20px;

  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }

  &__btn {
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
  }
}


