* {
  margin: 0;
}

.App {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
