body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #94daff;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  margin: 0 auto;

  &__title {
    text-align: center;
  }
}

.btn {
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  min-height: 30px;
  padding: 8px 16px;
  text-align: center;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);

  &:hover {
    color: #fff;
    background-color: #1a1a1a;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  }
}
