iframe {
  display: none;
}

.App {
  background-color: rgb(88, 88, 88);
  text-align: center;
  height: 100vh;
  margin: 0;
  &__title {
    margin: 0;
    padding: 100px;
  }
}

body {
  margin: 0;
}

button {
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
  width: 70px;
  background-color: rgb(218, 135, 20);
  border-color: rgb(218, 135, 20);
}
