* {
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  color: #aaa;
}

.wrapper {
  margin: 40vh auto;
  width: fit-content;
}

button {
  width: 100%;
  padding: 10px;

  background-color: #eee;
  border-radius: 20px;
  border: none;
  
  cursor: pointer;
  transition: background-color 0.15s;
}

button:active {
  background-color: #ddd;
}
